@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.navbar {
  @include flex-col;
  gap: 20px;
  position: fixed;
  left: 0;
  bottom: 20%;

  ul {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    list-style-type: none;

    li {
      @include flex-col;
      gap: 15px;
      color: $opaque-white;
      font-size: 12px;
    }
  }
}

.circle-arrow {
  @include flex-row;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 50px;

  svg {
    font-size: x-large;
  }
}

.say__hello {
  @include flex-col-center;
  position: fixed;
  z-index: 2;
  top: 3%;
  right: 3%;
  background-color: $dark-blue;
  height: 1.8rem;
  width: 8rem;

  p {
    font-size: 10px;
    color: $white;
  }
}

.logo {
  position: fixed;
  top: 3%;
  left: 3%;
  z-index: 2;
}
